{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css\index.css'%}">
    <title>Login</title>
</head>
<body>
    <div class="container">
    
        <header class="head">Login</header>
        <form class="login" action="{% url 'login' %}" method="post">
            {% csrf_token %}
                <input type="text" class="inp" placeholder="Enter your username" name="username" required>
                <input type="password" class="inp" placeholder="Enter your password" name="pwd" required>
                <div>
                    <p>
                        <a href="" class="">Forgot password ?</a>
                    </p>
                </div>
                <input type="submit" value="login" class="inp btn">
                <p>
                    Dont have an account? <a href="{% url 'register' %}" class="">Sign up</a>
                    
                </p>
        
        

            
        </form>
        
        


    </div>
    
</body>
</html>